<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
  <extension point="org.eclipse.m2e.core.lifecycleMappings">
    <lifecycleMapping
      class="org.metaborg.spoofax.eclipse.meta.m2e.LifecycleMapping"
      id="org.metaborg.spoofax.eclipse.meta.m2e.lifecycle-mapping"
      name="Spoofax Lifecycle Mapping"
    />
  </extension>
</plugin>
